<div class="container">
  <h1>Recipes</h1>
  <app-categories (select)="handleCategorySelect($event)"></app-categories>
  <app-search-bar (searchEvent)="handleSearch($event)"></app-search-bar>
  
  <div *ngIf="searchResults.length>0; else noResults">
    <h2>Results</h2>
    <div class="grid">
      <app-recipe-card *ngFor="let meal of searchResults" [meal]="meal"></app-recipe-card>
    </div>
  </div>
  
  <ng-template #noResults>
    <p *ngIf="hasSearched">No results found</p>
  </ng-template>
  <app-random-recipes />
</div>